@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.red {
  color: rgb(231, 10, 10);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.nex p {
  color: #085f99;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
}
.logo{
  width:30px;
  height:30px;
}
.cart-counter{
 
  background:
        
        rgba(243, 5, 5, 0.8)
        ;
 border-radius: 25% ;
  
  padding:4px;
  font-weight: 600;
 margin-left:5px
 
}